/* general styles */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* / general styles */

header {
  background-color: #ff6900;
  height: 60px;

  margin-bottom: 50px;

  color: white;

  -webkit-box-shadow: 0px 8px 5px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 8px 5px -3px rgba(0, 0, 0, 0.5);
}

nav a {
  margin: 0 5px;
}

.icons i {
  margin: 0 5px;
}

.wrapper {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.card-row {
  width: 100%;

  display: flex;
  gap: 15px;

  margin-bottom: 40px;
}

.card {
  height: 600px;
  width: calc(100% / 3);
}

.card__picture-1,
.card__picture-2,
.card__picture-3,
.card__picture-4,
.card__picture-5,
.card__picture-6 {
  height: 90%;
  position: relative;
  background-size: cover;
  background-position: center;

  transition: all 0.4s ease-in-out;
}

/* card - hover */

.card__picture-1 {
  background-image: url(images/img/1.webp);
}
.card__picture-2 {
  background-image: url(images/img/2.webp);
}
.card__picture-3 {
  background-image: url(images/img/3.webp);
}
.card__picture-4 {
  background-image: url(images/img/4.webp);
}
.card__picture-5 {
  background-image: url(images/img/5.webp);
}
.card__picture-6 {
  background-image: url(images/img/6.webp);
}

.card__picture-1:hover {
  background-image: url(images/img/1b.webp);
}
.card__picture-2:hover {
  background-image: url(images/img/2b.webp);
}
.card__picture-3:hover {
  background-image: url(images/img/3b.webp);
}
.card__picture-4:hover {
  background-image: url(images/img/4b.webp);
}
.card__picture-5:hover {
  background-image: url(images/img/5b.webp);
}
.card__picture-6:hover {
  background-image: url(images/img/6b.webp);
}

/* card - hover */

.card__description {
  /* background-color: blueviolet; */
  height: 10%;
}

.card__description h2 {
  font-size: 0.9rem;
  text-transform: uppercase;
}

.card__description h3 {
  font-size: 0.8rem;
  font-weight: 400;

  padding-top: 10px;
}

.price :first-child {
  font-size: 0.8rem;
  font-weight: 400;
  color: #ff0000;
}

.price :last-child {
  font-size: 0.8rem;
  font-weight: 400;
  text-decoration: line-through;
}

.like {
  width: 35px;
  height: 35px;
  background-color: rgb(255, 255, 255);

  position: absolute;
  top: 10px;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.like:hover .fa-solid {
  color: #ff0000;
}

.logo {
  height: 70px;
  width: 400px;

  background-image: url(./images/img/boolean-logo.png);
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
}

.like img {
  width: 15px;
}

.badge {
  position: absolute;
  bottom: 30px;
  left: 0;

  color: white;
}

.badge * {
  font-size: 0.8rem;
  display: inline-block;

  padding: 5px 10px;
  margin-right: 3px;

  background-color: #ff0000;
}

.b-green {
  background-color: green;
}

.price h5 {
  display: inline-block;
}

footer {
  background-color: #1a1a1a;
  color: white;

  height: 90px;
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer h4 {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 400;
}

footer h3 {
  font-size: 1rem;
  font-size: 1rem;

  margin-bottom: 10px;
}
